﻿
@{
    var apiKey = ViewBag.ApiKey;
    var sessionId = ViewBag.SessionId;
    var token = ViewBag.Token;
}

<html>
<head>
    
    <title> OpenTok Getting Started </title>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
            crossorigin="anonymous"></script>
    <script src="https://static.opentok.com/v2/js/opentok.min.js"></script>
</head>
<body>
    <button id="conn" class="Call_">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mic-fill" viewBox="0 0 16 16">
            <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z" />
            <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z" />
        </svg> AudioCall
    </button>
    <button id="VideoCall" class="Call_">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-video-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z" />
        </svg>VideoCall
    </button>
    <div id="videos">
        <div id="subscriber"></div>
        <div class="outerpublisher">
            <div id="publisher"></div>
            <div class="btns_dis_ena">
                <button id="disconn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-x" viewBox="0 0 16 16">
                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                        <path fill-rule="evenodd" d="M11.146 1.646a.5.5 0 0 1 .708 0L13 2.793l1.146-1.147a.5.5 0 0 1 .708.708L13.707 3.5l1.147 1.146a.5.5 0 0 1-.708.708L13 4.207l-1.146 1.147a.5.5 0 0 1-.708-.708L12.293 3.5l-1.147-1.146a.5.5 0 0 1 0-.708z" />
                    </svg>
                </button>
                <button id="enable">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-video-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5z" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
    

    <script src="~/js/app.js"></script>
</body>
</html>
<script>

   $(document).ready(function(){
        //initializeSession(); 
        $("#disconn").hide()
        $("#enable").hide()
        publishAudio=true;
        subscribeToAudio=true;
        subscribeToVideo=true;

   });
      $("#conn").click(function(){
        debugger
        $("#disconn").show()
       var hasvideo = false;
        subscribeToVideo=false;
        initializeSession(hasvideo);
        })
    $("#VideoCall").click(function(){
        debugger
        $("#disconn").show()
        $("#enable").show()
       var hasvideo = true;
        initializeSession(hasvideo);
       
    })
    $("#enable").click(function(){

        if ($(subscrib.element).hasClass('OT_root OT_subscriber OT_fit-mode-cover OT_audio-only')) {
            subscrib.subscribeToVideo(true);
            $(this).addClass("close");
        }
        else{
            subscrib.subscribeToVideo(false);
            $(this).removeClass("close");
        }
       
    })
   
    // Handling all of our errors here by alerting them
    function handleError(error) {
        if (error) {
            alert(error.message);
        }
    }
    function initializeSession(hasvideo) {
        debugger;
        //hasvide =false;
        var session = OT.initSession(@apiKey, "@sessionId");

        // Subscribe to a newly created stream

        // Create a publisher
        var publisher = OT.initPublisher('publisher', {
            insertMode: 'append',
            width: '100%',
            height: '100%',
            publishVideo: hasvideo
        }, handleError);

        // Connect to the session
        session.connect("@token", function (error) {
            // If the connection is successful, publish to the session
            if (error) {
                handleError(error);
            } else {
                session.publish(publisher, handleError);
            }
        });
        // Connect to the session

        session.on('streamCreated', function (event) {
             subscrib = session.subscribe(event.stream, 'subscriber', {
                insertMode: 'append',
                width: '100%',
                height: '100%',
            }, handleError);
            subscrib.setStyle('videoDisabledDisplayMode', 'off');
        });

        // disconnect 
        $("#disconn").click(function(){
            session.disconnect();
        })
        $("#unsub").click(function () {
            alert(subscriber)
            console.log(subscriber)
            session.unsubscribe(subscriber);
        })
       
    }
    

</script>
