body, html {
}

.outerpublisher {
    width: 380px;
    height: 220px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 5
}


.btns_dis_ena {
    position: absolute;
    left: 4px;
    top: 10px;
    z-index: 40;
    display: flex;
    align-items: center;
    gap: 10PX;
}

#disconn {
    background-color: crimson;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    color: #FFF;
    cursor: pointer
}
#enable {
    background-color: #58bb5c;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    color: #FFF;
    cursor: pointer;
    position: relative
}

    #enable.close{
        background-color: crimson
    }

    #enable.close:after {
        content: "";
        display: block;
        height: 30px;
        width: 2px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }


    .Call_ {
        display: inline-flex;
        align-items: center;
        gap: 5px;
        height: 42px;
        border-radius: 50px;
        border: none;
        padding: 5px 22px;
        background: #58bb5c;
        color: #fff;
        margin-bottom: 10px;
        cursor: pointer
    }
